<!-- Arshdeep Singh || arshdeepsingh5476@conestogac.on.ca || StudentID - 8715476 -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Unique Lighting Store</title>
<script type="text/javascript" src="js.js"></script>
<link rel="stylesheet" href="/css/style.css">
<div class = "header">
    <head>UNIQUE LIGHTING HOUSE</head>
</div>